<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>	{% block metatitle %}{% endblock %}</title>
</head>
<body>

<header>

	<img src="https://graphicsfamily.com/wp-content/uploads/edd/2021/08/E-Commerce-Logo-Design-scaled.jpg" alt="electro ménager piscine logo">

	<nav>

		<ul>
			<li><a href="{{path('home')}}">Accueil</a></li>
			<li><a href="{{path('list-categories')}}">Catégories</a></li>
			<li><a href="{{path('list-products')}}">Produits</a></li>
		</ul>

	</nav>

</header>
	

<main>

	{% block main %}
	{% endblock %}

</main>

</body>
</html>