<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    
</head>
<body>
    <div class="container">
        <h1>Bienvenue sur mon ecommerce !</h1>
    </div>
</body>
