{% extends 'guest/base.html.twig' %}

{% block metatitle %}
	ElectroMénager | Login
{% endblock metatitle %}

{% block main %}

	<h1>Se connecter</h1>

	{% if error %}
		<div>
			<p>Vérifiez vos identifiants</p>
		</div>
	{% endif %}

	<form method="POST">

		<label> Email
			<input type="email" name="_username">
		</label>


		<label> Mot de passe
			<input type="password" name="_password">
		</label>

		<button type="submit">Se connecter</button>
	
	</form>
{% endblock main %}